<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>页面出错了</title>
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="../../css/error.css">
    <script type="text/javascript" charset="utf-8" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../js/processing-0-6-packed.js"></script>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="../../css/ie.css" />
    <script type="text/javascript" charset="utf-8" src="../../js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <section>
            <h1 class="err-code">500</h1>
        </section>
        <section class="hint-info">
            <h1 style="font-size: 32px;">咦~页面出错了~</h1>
            <h2>请带上您的反馈进入反馈通道找我们哦~~</h2>
            <a class="button" href="#">返回主页~</a>
        </section>
    </div>
    <!-- 绘制气泡 -->
    <div class="background">
        <canvas id="abstract" width="2000" height="1000" datasrc="../../js/abstract.pjs"></canvas>
    </div>
</body>