/* 后台登录样式 */
body {
  /*background:url(../imgs/login_bg_0.jpg) #f8f6e9;*/
  background: #024e70 url(../imgs/bg.gif) no-repeat 50% 0;
  font: 14px/1.5 arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

.login {
  width:477px;
  height:400px;
  background:url(../imgs/login_bg.png) no-repeat;
  margin:0 auto;

  position:absolute;
  top:50%;
  left:50%;
  margin-top:-220px;
  margin-left:-238px;
  overflow: hidden;
}
.login-head {
  margin:0 auto;
  padding-top:30px;
  width:120px;
}
.form-login {
  max-width: 330px;
  padding: 43px 15px 15px 15px;
  margin: 0 auto;
}
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: 14px;
  border-radius: 0;
  background: url(../imgs/login_user.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  background: url(../imgs/login_pas.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-login button {
  border-radius: 0;
}
.err-info{
  color: red;margin-right: 10px;
  font-size: 13px;
  display: none;
}
.background {
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    margin:0 auto;
    position:fixed;
    top:0; z-index:-1;
    overflow:hidden;
}
.background canvas {
    width:200%;
    height:200%;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-1000px;
    opacity:0.3;
}
