*{
    margin: 0;
    padding: 0;
    font: 14px/1.5 arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

.must-msg{
    color: red;
}
.font-size12{
    font-size: 12px;
}
.font-size16{
    font-size: 16px;
}
.font-size24{
    font-size: 24px;
}
.cursor-pointer{
    cursor: pointer !important;
}
a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.border-radius-0{
    border-radius: 0 !important;
}

.block{
    display: block !important;
}
.display-table{
    display: table;
}
.display-table-cell{
    display: table-cell;
    vertical-align: middle;
}
.none{
    display: none !important;
}

.padding0{
    padding:0;
}
.padding2{
    padding:2px;
}
.padding5{
    padding:5px;
}
.padding8{
    padding:8px;
}
.p-t-0{
    padding-top: 0 !important;
}
.p-t{
    padding-top: 10px;
}
.p-t-lg{
    padding-top: 15px !important;
}
.p-t-1{
    padding-top: 1px;
}
.p-r-0{
    padding-right: 0 !important;
}
.p-r-xs{
    padding-right: 5px;
}
.p-l-xs{
    padding-left: 5px;
}
.p-l-0{
    padding-left: 0 !important;
}
.p-l{
    padding-left: 10px;
}
.p-l-lg{
    padding-left: 15px;
}
.p-b-xs{
    padding-bottom: 5px;
}
.p-b{
    padding-bottom: 10px;
}
.p-b-lg{
    padding-bottom: 15px;
}

.margin0{
    margin: 0;
}
.m-t-0{
    margin-top: 0;
}
.m-t-xs{
    margin-top: 5px;
}
.m-t{
    margin-top: 10px;
}
.m-t-lg{
    margin-top: 15px;
}

.m-l-0{
    margin-left: 0;
}
.m-l-xs{
    margin-left: 5px;
}
.m-l{
    margin-left: 10px;
}
.m-l-lg{
    margin-left: 15px;
}

.m-r-0{
    margin-right: 0;
}
.m-r-xs{
    margin-right: 5px;
}
.m-r{
    margin-right: 10px;
}
.m-r-lg{
    margin-right: 15px;
}

.m-b-xs{
    margin-bottom: 5px;
}
.m-b{
    margin-bottom: 10px;
}
.m-b-lg{
    margin-bottom: 15px;
}

/* bootstrap样式修改*/
.badge{
    background: rgb(255,103,0);
}

/* 4、数量设置插件样式 start*/
.digital-setting{
    width: 105px;
    margin: 0 auto;
}
.digital-setting>span{
    padding:5px 7px !important;
    cursor: pointer;
}
.digital-setting>input{
    text-align:center;
    vertical-align: middle;
    background: white !important;
}
/* 4、数量设置插件样式 end*/
