/*
---- RGBa Alternatives
*/
body,
ul,
ol {
	color:#ccdce2;
}
a {
	border-bottom-width:2px;
	border-bottom-color:#34718c;
	border-bottom-style:solid;
}

/*
---- Hide the Canvas Background
*/
#background {
	display:none;
}

/*
---- IMPORTANT Things
*/
article p.relative {
	background-image:none !important;
}


/*
---- IE6 PNG Fixes
*/
* html #brand a,
* html #brand a:hover {
	background-image:url(../../images/ie/criticalzero.gif);
}
* html header nav li {
	background-image:url(../images/ie/nav.gif);
}
* html article .published_at,
* html article p.readmore {
	background-image:url(../images/ie/marker.gif);
}
* html footer #stats {
	background-image:url(../images/ie/cz.gif);
}
* html #vault-header li {
	background-image:url(../../images/ie/vault.gif);
}
* html img.frame {
	display:none;
}

/*
---- Fix IE6 "Jumping"
*/
#posts li {
	padding-top:0;
}
.meta a,
.meta li li a,
.meta li li a:hover,
.vault-list a {
	display:block !important;
	border:none !important;
	padding:11px 2px 12px !important;
}
footer {
	margin-bottom:0;
	border-bottom:12px solid #024e70;
}

/*
---- Input Button
*/
form div.submit p input {
	color:#069AB9 !important;
	padding:20px 9px !important;
	height:60px;
}